.nav-menu li a {
	margin-right: 50px;
}
.menu-category > li > a:hover,
.nav-menu li a:hover {
	color: #006fad;
}
/*menu-list-category*/
.menu-category__drop {
	width: 260px;
	border-radius: 0 0 10px 10px;
}
.menu-category__drop li a {
	padding: 6.9px 0;
}
.menu-category__drop li a:hover {
	color: #006fad;
}

/*search*/
.search input {
	padding: 14px 13px 14px 50px;
	background: #f6f6f6;
	border: 1px solid #dadada;
	border-radius: 50px 0 0 50px;
	z-index: 2;
	width: 100%;
	height: 100%
}
.search .btn {
	border-radius: 0 50px 50px 0!important;
}

/*dropdown*/
.menu-category .dropdown-toggle::after {
    display: none
}
.menu-category .menu-category__drop.show {
	transform: translate(0)!important;
	top: 35px!important;
}
.menu-category .menu-category__drop.active {
	top: 35px!important;
}

.menu-category__drop li:nth-child(n+11) {
  display: none;
}
/*.menu-category__drop li .link-open {
	display: block!important;
}*/
.menu-category__drop.open li:nth-child(n+11) {
  display: block;
}
.menu-category__drop li:last-child {
  display: block;
}
/*мобильное меню*/
.burger-menu {
	top: 15px;
	left: 0;
}
.burger-menu__btn {
	width: 25px;
    height: 25px;
    display: block;
    z-index: 99;
    position: absolute;
    top: .8rem;
}
.burger-menu__btn span {
	display: block;
	top: 12px;
    left: 5px;
}
.burger-menu__btn span, .burger-menu__btn span:after, .burger-menu__btn span:before {
    position: absolute;
    width: 25px;
    height: 2px;
    border-radius: 50px;
    background-color: #0089d7;
    border-radius: .px;
}
.burger-menu__btn span:before {
    content: '';
    top: 7px;
}
.burger-menu__btn span:after {
    content: '';
    top: -7px;
}
/*ACTIVE*/
.burger-menu.active .burger-menu__btn span::before,
.burger-menu.active .burger-menu__btn span::after,
.burger-menu__active .burger-menu__btn span,
.burger-menu.btn span,
.burger-menu__btn span:after, 
.burger-menu__btn span:before,
.burger-menu.active .menu-mobile,
.menu-mobile  {
	transition: .4s;
}

.burger-menu.active .burger-menu__btn span {
    background-color: transparent;
}
.burger-menu.active .burger-menu__btn span::before {
    top: 0;
    transform: rotate(45deg);
    background-color: #fff;
}
.burger-menu.active .burger-menu__btn span::after {
    top: 0;
    transform: rotate(-45deg);
    background-color: #fff;
}
.burger-menu.active .menu-mobile {
	left: 0;
	opacity: 1;
	visibility: visible;
}


/*мобильное меню списком*/
/*--------- slinky-menu --------*/
.menu-mobile .menu-list > li > a {
	color: #006fad;
}
.menu-home a {
	font-size: 13px;
	color: #fff;
	padding: .5rem 1rem .5rem 2rem;
}
.menu-home a:last-child {
	margin-top: 20px;
	font-size: 20px;
}
.menu-mobile .menu-list li > a {
	background: #fff;
	border-bottom: 1px solid #015f94;
	padding: .6rem 1rem .6rem 2rem;
}
.slinky-menu .header {
  font-size: 15px;
}
.slinky-menu .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  background: #fff;
}
.header .back {
	padding: 0!important;
	border-bottom: none!important;
}
.slinky-menu .header .title {
	color: #006fad;
}
.slinky-theme-default .next::after, .slinky-theme-default .back::before {
	content: 'next';
	font-family: swiper-icons;
	font-size: 14px!important;
	color: #006fad;
	font-size: var(--swiper-navigation-size);
	text-transform: none!important;
	letter-spacing: 0;
	text-transform: none;
	font-variant: initial;
	line-height: 1;
	-webkit-transition: 200ms;
	transition: 200ms;
}
.slinky-theme-default .back::before {
  padding: 1em;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.slinky-menu li ul {
  display: none;
  left: 100%;
  position: absolute;
  top: 0;
}
.slinky-menu ul {
  width: 100%;
}
.slinky-menu a {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slinky-menu a span {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.menu-mobile {
	position: absolute;
	z-index: 9;
	background: #fff;
	width: 100%;
	height: 100%!important;
	left: -100%;
	top: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
}
.slinky-menu {
  overflow: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  height: 100%!important;
}
.slinky-menu > ul {
  left: 0;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

/*---------------------------*/

@media(min-width: 1200px) {
	.menu-category .menu-category__drop.active {
		display: block;
	}
}
@media(max-width: 991px) {
	/*search*/
	.search input {
	    padding: 15px 13px 15px 50px;
	}

	.nav-menu li a {
	    margin-right: 25px;
	}
	.menu-category .menu-category__drop.active {
	    top: 31px!important;
	}
}
@media(max-width: 767px) {
	.menu-top a {
	    font-size: 13px;
	}
	.nav-menu li a {
	    margin-right: 20px;
	}
	/*search*/
	.search input {
	    padding: 10px 8px 10px 10px;
	}
	.search .btn {
		padding: 6px 15px 9px;
	}
	.search input::placeholder {
		font-size: 12px;
	}
}
@media(max-width: 575px) {
	.menu-category > li > a {
		display: none;
	}
	.menu-category > li:last-child > a {
		display: block;
	}
	.menu-top a {
	    font-size: 17px;
	}
	/*search*/
	.search {
		position: relative;
	}
	.search input {
		padding-left: 45px;
		border-radius: 50px;
	}
	.search .btn {
		position: absolute;
		padding: 0 20px;
		left: 0;
		top: 5px;
		z-index: 3;
		background: none;
		box-shadow: none;
	}
}