/*обнуление стандартных стилей*/
body{font-family:'AvenirNextCyr 400',sans-serif;margin:0;padding:0;overflow-x:hidden;max-width:100%;min-width:320px;color:#1b1b1b;font-size:16px}li,ol,ul{list-style:none;display:block;margin:0;padding:0}img{max-width:100%;display:block}a{color:#1b1b1b;text-decoration:none;display:block}a:hover{color:#1b1b1b;text-decoration:none}a,div,input,p,select,span,img{transition:.4s;box-sizing:border-box}input::placeholder{font-size:14px;font-family:'AvenirNextCyr 400',sans-serif!important}input:focus{outline:0}
/*обнуление стандартных стилей*/
/*--specification--*/
.ttu{text-transform:uppercase!important}
.tdu{text-decoration:underline!important}
.c-p{cursor:pointer}
.f-14{font-size:14px}
.f-16{font-size:16px}
.f-18{font-size:18px}
.f-20{font-size:20px}
.f-25{font-size:25px}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{font-family:'AvenirNextCyr 700',sans-serif}
.h1,h1{font-size:28px;line-height: 1.15;margin-bottom: 30px;}
.h2,h2{font-size:25px}
.h3,h3{font-size:24px}
.h4,h4{font-size:21px}
.h5,h5{font-size:17px}
.h6,h6{font-size:15px}
.fw-3{font-family:'AvenirNextCyr 300',sans-serif!important}
.fw-4{font-family:'AvenirNextCyr 400',sans-serif!important}
.fw-6{font-family:'AvenirNextCyr 600',sans-serif!important}
.fw-7{font-family:'AvenirNextCyr 700',sans-serif!important}
.fw-demi{font-family:'AvenirNextCyr Demi',sans-serif}
.width-content{width:max-content}
.ls{letter-spacing:.05em}
.text-blue{color:#006fad!important}
.text-dgray{color:#616161!important}
.text-lgray{color:#9e9c9c!important}
.bg-lgray{background:#f8f8f8!important}
.bg-blue{background:#006fad!important}
.bg-lblue{background:#bfe1f445!important}
.bg-black{background:#212121!important}
.box-shadow{box-shadow:0 4px 6px rgba(0,0,0,.06)}
.opacity-1{opacity:.5}.border-radius{border-radius:10px}
.border-top-blue{border-top:1px solid #006fad}
/*--specification--*/
/*--ВСТАВКА СТАРЫХ СТИЛЕЙ--*/
.objectvnutr{background-color: #f9f9f9; border-radius: 0.1875rem;overflow: hidden;width: 100%;margin-bottom: 40px;-webkit-transition: box-shadow .15s ease-in-out;transition: box-shadow .15s ease-in-out;box-shadow: 0 1px 3px rgba(0,0,0,.15);-webkit-transition: all .15s ease;-moz-transition: all .15s ease;-ms-transition: all .15s ease;-o-transition: all .15s ease;transition: all .15s ease;}
.objectvnutr hr {margin-top:40px;}
.seobolshe{display: block; padding: 20px; font-size: 20px; font-weight: 600; color: #2ca8ff !important; cursor: pointer;}
.objectobertka{padding:40px;}
.objectobertka h1{font-size: 3.5em;line-height: 1.15;margin-bottom: 30px;}
.objectobertka p{font-size: 18px;line-height: 1.61em;}
.objectobertka a{color: #0073b6;} 
strong{border-bottom: 2px solid #a63fad;}
#gorodsall{color: #a23a99;line-height: 30px;font-size: 19px;}
.gorodlist li > a{ color:#555;font-size: 17px;line-height: 30px;}
.btn-like.like-shop.remove-shop-from-favorite-btn {
	border-color: transparent;
	background: linear-gradient(45deg, #cc2366 0%,#d22876 25%,#dc2745 50%,#de212e 75%,#dc2748 100%)!important;
}
.btn-like.like-advert.remove-advert-from-favorite-btn {
    background-image: linear-gradient(-134deg,#a33d9a 0,#ff0000 100%);
    color: #fff !important;
	height: 40px !important; ;
    min-width: 40px !important;
    width: 40px !important;
    padding: 0;
	font-size:14px !important;
	line-height:40px;
	transition: all .15s ease-in-out; 
}
.btn-like.remove-shop-from-favorite-btn  svg {
    fill: #fff;
}
.zapchast{font-size:25px;}
.redactirovat{background: #2c2a2a;color: #fff;text-transform: uppercase; padding: 6px 12px; font-weight: 300;}
.addobject{float: right; background: #00a74c;color: #fff; padding: 10px 25px; font-weight: 500; margin-bottom:20px;}
.addobject:hover {box-shadow: 0 9px 19px 0 rgba(110,127,134,.44); color:#fff;}
.btnopublikovan {height: 2.375rem;
    min-width: 2.375rem;
    width: 2.375rem;
    padding: 0;
    font-size: 0.9375rem;
    overflow: hidden;
    position: relative;
    line-height: normal;background: #7ad03a !important;
	border-radius: 30px !important;
	}
.btnneopublikovan{
	height: 2.375rem;
    min-width: 2.375rem;
    width: 2.375rem;
    padding: 0;
    font-size: 0.9375rem;
    overflow: hidden;
    position: relative;
    line-height: normal;background: #fb220a !important;
	border-radius: 30px !important;
	} 
.help-block {color: #f90000; font-size: 14px; font-weight: 600; text-decoration: underline; margin-bottom:10px;}
/*personal btn*/
.link-personal {
	background: none;
    border: none;
}
.link-personal:focus {
	outline: none;
}
.drop-angle .dropdown-menu:before {
	content: '';
	bottom: 100%;
    left: 15px;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 10px;
    margin-left: 10px;
    margin-bottom: -1px;
    z-index: 8;
}
.drop-angle .dropdown-menu {
	top: 7px!important;
}
.checkbox-1 {
    position: relative;
    width: 40px;
    height: 24px;
    -webkit-appearance: none;
    background: rgb(0 119 187);
    outline: none;
    border-radius: 50px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    transition: .5s;
    cursor: pointer;
}
.checkbox-1:checked {
    background: rgb(240 81 81);
}
.checkbox-1:before{
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 20px;
    top: 3px;
    left: 3px;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: .5s;
}
.checkbox-1:checked:before{left: 19px;}

/*--....СТАРЫХ СТИЛЕЙ--*/
.wrap-shadow {
	background: #fff;
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.mt-minus-5 {
	margin-top: -4.5rem;
}
.create{box-shadow: 0 4px 20px rgb(0 136 213 / 40%); background: linear-gradient(180deg, rgba(0,143,224,1) 0%, rgba(0,112,177,1) 100%)!important;}
.tariffpodkluch{box-shadow: 0 4px 20px rgb(0 136 213 / 40%); background: linear-gradient(180deg, rgba(0,143,224,1) 0%, rgba(0,112,177,1) 100%)!important;}
.seenumber{box-shadow: 0 4px 20px rgb(54 205 19) !important; background: linear-gradient(180deg, rgb(55 224 0) 0%, rgb(54 204 21) 100%)!important;}
.seenumber:hover {background: linear-gradient(180deg, rgb(55 224 0) 0%, rgb(54 204 21) 100%)!important;}
.seemagaz{box-shadow: 0 4px 20px rgb(0 136 213 / 40%); background: linear-gradient(180deg, rgba(0,143,224,1) 0%, rgba(0,112,177,1) 100%)!important;}
.seebanner{box-shadow: 0 4px 20px rgb(0 136 213 / 40%); background: linear-gradient(180deg, rgba(0,143,224,1) 0%, rgba(0,112,177,1) 100%)!important;}
.btn {
	font-family: 'AvenirNextCyr 600', sans-serif;
	display: block;
	padding: 13px 30px;
	color: #fff;
	border-radius: 50px;
	border: none;
	box-shadow: 0 4px 20px rgb(0 136 213 / 40%);
	background: linear-gradient(180deg, rgba(0,143,224,1) 0%, rgba(0,112,177,1) 100%)!important;
	cursor: pointer;
}
.btn:hover {
	color: #fff;
	/*background: linear-gradient(180deg, rgb(5 165 255) 20%, rgb(4 108 169) 80%)!important;*/
	/*box-shadow: 0 8px 20px rgb(0 136 213 / 45%);*/
}
.btn-transp {
	color: #006fad;
	border: 1px solid #006fad;
	background: transparent!important;
	box-shadow: 0 4px 10px rgb(0 136 213 / 20%)!important;
}
.btn-transp:hover {
	background: linear-gradient(180deg, rgb(5 165 255) 20%, rgb(4 108 169) 80%)!important; 
}
.dropdown-toggle::after {
    border-top: .3em solid transparent;
    height: 15px;
    background: url(/images/img/arr-bottom-min.svg) no-repeat center;
    vertical-align: 0em;
}
/*filter*/
.filter .numbers input {
	background-color: #f6f6f6;
	border: 1px solid #9e9c9c;
	padding: 8px;
	border-radius: 5px;
	width: 130px;
}
.select {
    width: 100%;
}
.select select {
    width: 100%;
    height: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
    border: 1px solid #9e9c9c;
    background: url(/images/img/arr-select.png) no-repeat right 3.5% center;
    z-index: 2;
    background-color: #fff;
    padding-right: 10px;
    padding-left: 10px;
    outline: none;
}
.select-drop {
	position: relative;
}
.select-drop .dropdown-sort {
    z-index: 9;
    width: 100%;
    transform: translate(0, 40px)!important;
    top: 0;
}
/*hover*/
.hover-shadow:hover {
	box-shadow:0 13px 20px rgba(0,0,0,.1);
}
.hover-scale-img {
	overflow: hidden;
}
.hover-scale-img img:hover {
	transform: scale(1.3);
}
.hover-scale:hover {
	transform: scale(1.3);
}
.hover-scale-1:hover {
	transform: scale(1.1);
}
/*header*/
.header-banner {
	height: 425px;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
	padding: 20px 20px 35px;
}
.header-banner .content {
	z-index: 2;
	position: relative;
}
.header-banner::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	/* background: #0090e1ad; */
	z-index: 1;
}
.header-banner .logo {
	max-height: 70px;
}
.header-banner_vert {
	/* background: #0090e1; */
	padding:0;
	
}
.header-banner_vert img{
	width:100%;
	height:100%;
	
}
.header .slider-banner .swiper-slide .content .title {
	width: 100%;
	/* background: #0090e1; */
	margin-left: -20px;
	padding: 5px 10px 6px 20px;
	border-radius: 0 70px 70px 0;
}
.slider-banner {
	border-radius: 20px;
}
.title-big {
	font-size: 90px;
	line-height: 1;
	margin: 25px 0 10px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'AvenirNextCyr 700', sans-serif;
}

/*card*/
.card {
	border-radius: 10px;
	box-shadow: 0 2px 6px rgba(0,0,0,.1);
	overflow: hidden;
}
.card-body {
	padding: 15px;
	min-height: 200px;
}
.card-body span {
	display: block;
}
.product-img {
	width: 100%;
	height: 145px;
}
.product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
    height: 100%;
}
.card-shop_logo {
	max-height: 200px;
}
.card-shop_logo  img {
	width: 50%;
	height: 100%;
	max-height: 200px;
	margin: auto;
	object-fit: contain;
}
.heart-link {
	padding: 12px 30px 12px 20px;
	font-size: 12px;
	display: inline-flex!important;
}
.heart-link:hover .bi-heart {
	fill: red;
	transform: scale(1.3);
}
.heart-link.active .bi-heart {
	fill: red;
	transform: scale(1.2);
}

/*clients*/
.img-circle {
	width: 185px;
	height: 185px;
	border-radius: 50%;
	background: #fff;
	box-shadow: 0 2px 6px rgba(0,0,0,.1);
	position: relative;
}
.img-circle img {
	position: absolute;
	object-fit: contain;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90px;
	height: 90px;
}

/*footer*/
.footer .menu li a {
	color: #fff;
	margin-bottom: 10px;
}

/*section banner*/
.section-banner {
	position: relative;
	min-height: 200px;
	overflow: hidden;
	border-radius: 20px;
}
.section-banner__img {
	width: 250px;
	height: 100%;
}
.section-banner img {
	position: absolute;
	bottom: -4.5em;
	max-width: 250px;
}

/*breadcrumb */
.breadcrumb {
	padding: 1rem 0;
    background-color: transparent!important;
    margin-bottom: 0;
}
.breadcrumb-item a:hover {
	color: #006fad;
}
.breadcrumb-item.active a:hover{
	color: #000;
}

.breadcrumb-item.active {
    color: #000;
}
.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
    padding-right: .3rem;
}

/*pagination page*/
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
}
.page-link {
    padding: 8px 14px;
}
.page-item:first-child .page-link,
.page-item:last-child .page-link {
    color: #959595;
}
.page-item:first-child .page-link:hover,
.page-item:last-child .page-link:hover {
    color: #fff;
}
.page-link {
	background: #fff;
	color: #1b1b1b;
	border: none;
	margin-right: 6px;
	font-size: 14px;
}
.page-link:hover {
	background: #006fad;
	color: #fff;
}
.page-link.active {
	background: #006fad;
	color: #fff;
}

/*page-shop*/
.page-shop-bg {
	height: 550px;
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.page-shop-name {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.page-shop-name .card-shop_logo {
	border-radius: 50%;
	width: 125px!important;
	height: 125px!important;
	object-fit: inherit;
}
.page-shop-name .icon-rating {
	padding: 4px 3px;
    background: #ff8c00;
    border-radius: 50px;
    display: inline-block;
    margin-top: -35px;
    margin-right: -85px;
}
.page-shop-name .icon-rating:hover {
	box-shadow: 0 2px 13px rgb(255 152 0);
}
.page-shop-name .icon-rating span {
	font-size: 12px;
	color: #fff;
}
.page-shop-name h1 {
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    font-size: 2.5em;
}
.nav-button li {
	margin: 0 3px 10px 3px;
}
.nav-button .btn {
	background: #f96332!important;
	box-shadow: none;
}
.nav-button .icon-network {
	width: 48px;
    height: 48px;
	border-radius: 50px;
	box-shadow: 0 4px 20px rgb(0 136 213 / 40%);
	background: linear-gradient(180deg, rgba(0,143,224,1) 0%, rgba(0,112,177,1) 100%);
}
.nav-button .icon-network img {
	width: 23px;
	transform: translate(50%, 50%);
}
.nav-button .icon-network svg {
	transform: translate(73%, 50%);
}
.shop-desc {
	display: flex;
	justify-content: center;
}
.shop-desc p {
	padding: 20px 100px;
	text-align: center;
	border: 1px solid red;
}
.vk {
    background-color: #415e8d!important;
}
.vk:hover {
	box-shadow: 0px 5px 35px 0px rgb(65, 94, 141)!important;
}
.insta {
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%)!important; 
}
.insta:hover {
    box-shadow: 0px 5px 35px 0px rgb(206, 35, 98)!important; 
}
/*reviews*/
.card-reviews .card-shop_logo img {
	border-radius: 50%;
	width: 125px!important;
	height: 125px!important;
	object-fit: cover;
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
}
.card-reviews__text {
	display: inline-block;
}
.card-reviews__text .title {
	position: relative;
	font-family:'AvenirNextCyr 600',sans-serif!important;
	margin-top: 15px;
}
.card-reviews__text .title:after,
.card-reviews__text .title:before {
	content: '"';
	position: absolute;
}
.card-reviews__text .title:before {
	left: -10px;
}
.card-reviews__text .title:after {
	right: -9px;
}
.card-reviews__text .title {
	position: relative;
}
.card-reviews__text p {
	font-size: 20px;
	font-family:'AvenirNextCyr 600',sans-serif!important;
	width: 80%;
	margin: 15px auto 15px;
}

/*filter shop list*/
.filter-shop {
	box-shadow: 0 9px 19px 0 rgba(110,127,134,.44);
}
.card-shop {
	padding: 15px;
	box-shadow: 0 1px 5px rgba(0,0,0,.20);
}
.card-shop:hover {
	box-shadow: 0 9px 19px 0 rgba(110,127,134,.44);
}
.btns-shop .btn {
	padding: 10px 20px;
	font-family:'AvenirNextCyr 400',sans-serif!important;
	font-size:14px; 
}
.nav-button .btn-like,
.btn-like {
    padding: 10px 14px!important;
    background: #fff!important;
    transition: 0s;
    border: 1px solid #d22876;
    box-shadow: none!important;
	width:45px;
    height:45px;
    margin-left:auto;
}
.btns-shop .btn:hover  svg,
.btn-like:hover svg {
    fill: #fff;
}
/*active like*/
.btn-like:hover,
.btn-like.active {
	border-color: transparent;
	background: linear-gradient(45deg, #cc2366 0%,#d22876 25%,#dc2745 50%,#de212e 75%,#dc2748 100%)!important;
}
.btn-like.active svg {
    fill: #fff;
}
/*---------*/
@media(min-width: 1400px) {
	.container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
		max-width: 1140px;
	}
}
@media (max-width: 1199px) {
	h2, .h2 {
	    font-size: 24px;
	}
	/*filter*/
	.filter .numbers input {
		width: 100px;
	}
}
@media (max-width: 991px) {
	body {
		font-size: 14px;
	}
	h1, .h1 {
	    font-size: 24px;
	}
	h3, .h3 {
	    font-size: 22px;
	}
	h5, .h5 {
	    font-size: 15px;
	}
	.f-20 {
	    font-size: 18px;
	}
	.mt-minus-6 {
		margin-top: -4.3rem;
	}
	/*banner*/
	.title-big {
	    font-size: 60px;
	}
	/*heart*/
	.heart-link {
	    padding: 9px 20px 9px 15px;
	    font-size: 12px;
	    display: inline-flex!important;
	}

	/*card*/
	.product-img {
	    height: 135px;
	}

	/*img-circle*/
	.img-circle {
	    width: 120px;
	    height: 120px;
	}
	.img-circle img {
		width: 70px;
		height: 70px;
	}
	/*product card*/
	.card-shop .card-shop_logo  {
		max-width: 100px;
    	height: 100%;
	}
	.card-shop .card-shop_logo  img {
		width: 100%;
	}

	/*nav button*/
	.nav-button .btn {
		padding: 9px 17px;
	}
	.nav-button .icon-network {
	    width: 43px;
	    height: 43px;
	}
	.nav-button .icon-network img {
	    width: 22px;
	}
	.nav-button .icon-network svg {
	    transform: translate(55%, 50%);
	}

	.card-shop_logo {
	    margin-top: -100px;
	    max-width: 200px!important;
	    width: 200px;
	    height: 190px!important;
	}
}
@media(max-width: 768px) {
	.container{
		max-width: 95%;
	}

	/*card*/
	.card-product .card-body {
	    padding: 10px 5px 15px 5px;
	}
	.card-product .card-body h5 {
	    font-size: 14px;
	}
	.product-img {
	    height: 120px;
	}
	.card-body p {
	    font-size: 12px;
	}

	/*breadcrumb */
	.breadcrumb-item.active,
	.breadcrumb-item a {
		font-size: 12px;
	}

	/*pagination*/
	.page-item:nth-child(n+5) {
	  display: none;
	}
	.page-item:last-child {
		display: block;
	}

	/*page shop*/
	.shop-desc p {
	    padding: 20px 40px;
	}

	/*nav-button*/
	.nav-button .btn {
	    padding: 9px 11px;
	    font-size: 14px;
	}
	.nav-button .icon-network {
	    width: 39px;
	    height: 39px;
	}
	.nav-button .icon-network img {
	    width: 20px;
	}
	.nav-button .icon-network svg {
	    transform: translate(50%, 50%);
	}
}
@media(max-width: 575px) {
	h1, .h1 {
	    font-size: 18px;
	}
	.f-18 {
	    font-size: 14px;
	}
	.btn-xs {
		padding: 15px 19px;
    	font-size: 15px;
	}

	/*banner*/
	.slider-banner .swiper-pagination-bullet {
	    width: 8px;
	    height: 8px;
	}
	.header-banner {
	    height: 280px;
	    padding: 15px 15px 35px;
	}
	.header-banner .logo {
	    max-height: 35px;
	}
	.title-big {
	    font-size: 40px;
	    margin: 15px 0 0px;
	}

	/*slider card*/
	.slider-shop-card .card-body h3 {
		font-size: 20px;
	}
	.slider-shop-card .card-body {
	    padding: 10px 5px 15px 7px;
	}

	/*section-banner*/
	.section-banner {
		min-height: 250px;
	}
	.section-banner__img {
		width: 180px;
		height: 100px;
		margin: auto;
	}
	.section-banner img {
		bottom: -6em;
		max-width: 180px;
	}
	.section-banner__text {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	/*breadcrumb*/
	.breadcrumb-item a {
		display: none;
	}
	.breadcrumb-item:nth-last-child(2n) a {
		display: block;
	}
	.breadcrumb-item:nth-last-child(2n):before {
		content: none;
	}
	.breadcrumb-item:nth-last-child(-n+2),
	.breadcrumb-item:last-child {
		display: inline-flex;
	}
	.breadcrumb-item:nth-child(2):after {
		content: '...';
	}
	.breadcrumb-item+.breadcrumb-item {
	    padding-left: .2rem;
	}
	
	/*pagination*/
	.page-item:first-child{
	  display: none;
	}
	
	/*reviews*/
	.card-reviews__text p {
	    font-size: 18px;
	    width: 95%;
	    margin: 10px auto 10px;
	}

	/*page shop*/
	.shop-desc p {
	    padding: 20px 20px;
	}

	.card-shop_logo {
	    margin-top: -50px;
	    max-width: 150px!important;
	    width: 150px;
	    height: 150px!important;
	}
}
@media(max-width: 420px) {
	.h4, h4 {
	    font-size: 20px;
	}
	.px-xs-1 {
		padding: 0 .25rem;
	}
	.container{
		max-width: 100%;
		/*padding: 0 3px;*/
	}
	.btn-xs {
		padding: 15px 17px;
    	font-size: 12px;
	}
	/*card*/
	.product-img {
	    height: 100px;
	}
	.card-product .card-body {
	    min-height: 175px;
	}
	.card-body span {
	    font-size: 14px;
	}
	.card-product .card-body h5 {
	    font-size: 12px;
	}
	.card-body .heart-link {
	    padding: 11px 10px 11px 8px;
	}
	.slider-shop-card .card-body h3 {
	    font-size: 18px;
	}
	.slider-shop-card .card-body a {
		font-size: 13px;
	}

	/*card  shop*/
	.card-shop h3 {
	    font-size: 19px;
	}
	.card-shop .card-shop_logo {
	    max-width: 90px;
	}

	/*reviews*/
	.card-reviews__text p {
	    font-size: 15px;
	}
}



/*menu list*/
.menu-category__drop.open li {
	width: 24%;
	margin-right: 1%;
}
.menu-category__drop.open li:last-child {
	width: auto!important;
}
@media(max-width: 991px) {
	.menu-category__drop.open li {
		width: 32%;
		margin-right: 1%;
	}
}
@media(max-width: 575px) {
	.menu-category__drop.open li {
		width: 49%;
		margin-right: 1%;
	}
}
@media(min-width: 475px) {
	.menu-category {
		position: relative;
	}
	.menu-category li,
	.menu-category li .dropdown {
		position: static;
	}

	.menu-category__drop.open li:last-child {
		margin-right: 0;
		margin-left: auto;
		margin-top: 20px!important;
	}
	.menu-category__drop.open {
		position: absolute;
		width: 100%;
		display: flex!important;
		flex-wrap: wrap;
	}
	.menu-category__drop.open {
		position: absolute;
		width: 100%;
		display: flex!important;
		flex-wrap: wrap;
	}
}
/*-----menu list---*/

.slider-shop-card .product-img img {
    object-fit: contain!important;
}
.card-shop .card-shop_logo {
	margin-top: -65px;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 1rem;
    display: inline-flex;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    padding: 5px!important;
    margin-left: 12px;
}
.card-shop .card-shop_logo img {
    width: 100%!important;
    height: auto!important;
    max-height: inherit;
}